.app__wrapper{
	width: 100%;
	.app__content{
		width: 100%;
		position: relative;
		.background-setting{
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			img{
				width: 100%;
				@media (min-width:1200px) {
					width: 100vw;
				}
			}
		}
		.taskManager__wrapper{
			font-weight: 400;
			width: 100%;
			.taskManager__content{
				
				@include adaptiveValue("width", 900 , 500, 1920, 800,1);
				@media (max-width: 799px) {
					@include adaptiveValue("width", 600 , 310, 799, 320,1 );
					
				}
				margin: 0 auto;
				padding: 3.4rem 0 0 0;
				.content__header{
					display: flex;
					justify-content: space-between;
					.header-title{
						h1{
							text-transform: uppercase;
							font-weight: 700;
							color: $VeryLightGray;
							font-size: 2rem;
							letter-spacing: 2px;
						}
					}
					.header-theme{
						img{
							cursor: pointer;
							@include adaptiveValue("height",50 , 25, 1920, 1000,1 );
						}
					}
				}
				ul.tasks {
					font-family: JosefinSansItalic;
					background-color: $VeryDarkDesaturatedBlue;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
					li {
						width: 100%;
						font-size: 1.1rem;
						color: $VeryLightGray;
						padding: 1.2rem 1rem 0.8rem 1rem;
					}
				}
				.content__form-control{
					margin-top: 2rem;
					ul.task-control{
						li{
							padding-top: 1rem;
							padding-left: 2rem;
							padding-right: 0;
							padding-bottom: 0.8rem;
							height: 100%;
							form{position: relative;
								input{
									width: 100%;
									background-color: transparent;
									color: $VeryLightGray;
									border: none;
									outline: none;
									padding: 0rem 4rem 0rem 0rem;
									font-weight: 400;
								}
								button{
									position: absolute;
									right: 1rem;
									top: 50%;
									transform: translateY(-50%);
									color:$VeryLightGray;
									font-family: JosefinSansItalic;
								}
							}
						}
					}
				}
				.content__form-result{
					margin-top: 0.5rem;
					.loading-text{
						color: $VeryLightGray;
						padding: 0.5rem;
						letter-spacing: 1px;
						visibility: hidden;
					}
					ul{
						li{
							border-bottom: 1px solid $VeryDarkGrayishBlue;
							display: flex;
							justify-content: space-between;
							.singular-control{
								display: flex;
								.edit-task{
									margin-right: 1.2rem;
									button{
										font-family: JosefinSansItalic;
									}
									
								}
							}
							.task-info{
								display: flex;
								
								.task-title{
									margin-left: 1rem;
									&.checked{
										color: $VeryDarkGrayishBlueTxt;
										text-decoration: line-through;

									}
								}							
							}
							.delete-task{
								height: 0.5rem;
								cursor: pointer;
							}
						}
					}
				}
				.tabs{
					font-family: JosefinSansItalic;
					.task-navigation{
						border-bottom-left-radius: 3px;
						border-bottom-right-radius: 3px;
						display: flex;
						justify-content: space-between;
						width: 100%;
						background-color:$VeryDarkDesaturatedBlue ;
						padding: 1rem 1rem 1rem  ;
						.tabs__navigation{
							button{
								color:$VeryDarkGrayishBlueTxt ;
								margin-left: 1rem;
								&:hover{

									color: $VeryLightGray;
								}
							}
							._tab-active{
								color: $BrightBlue;
								&:hover {
								
									color: $BrightBlue;
								}
							}
						}
						.clear-completed{
							button{
								color: $VeryLightGray;
							}

						}
						.task-left{
							color: $VeryLightGray;
						}
						}
						.task-mobile-navigation{
							@media (min-width:801px) {
								display: none;
							}
							margin-top: 1rem;
							width: 100%;
							text-align: center;
							padding: 1rem;
							border-radius: 3px;
							background-color:$VeryDarkDesaturatedBlue;
							.tabs__navigation{
								button {
									color: $VeryDarkGrayishBlueTxt;
									margin-left: 1rem;
								
									&:hover {
								
										color: $VeryLightGray;
									}
								}
								
								._tab-active {
									color: $BrightBlue;
								
									&:hover {
								
										color: $BrightBlue;
									}
								}
							}
						}
					}
			}
		}
	}
}

.content-task-edit {

						color: $VeryLightGray;

	border-radius: 3px;
	z-index: 2;
	padding: 3rem 3rem 3rem 3rem;
	position: absolute;
	left:50%;
	transform:translate(-50%, 20%);
	background-color: $VeryDarkDesaturatedBluePopup;
	@include adaptiveValue("width", 900, 500, 1920, 800, 1);

	@media (max-width: 799px) {
		@include adaptiveValue("width", 600, 310, 799, 320, 1);

	}

	.task-edit-btn {
		width: 100%;
		padding: 0.5rem 1rem;
		border-radius: 300px;
		margin-top: 2rem;
		border: 1px solid $VeryLightGray;
		text-transform: capitalize;
		&.back-link{
			margin-top: 1rem;
		}
	}

	.single-task-form h4 {
		font-family: JosefinSans;
		text-align: center;
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}

	.single-task-form p {
		margin-bottom: 0;
		margin-top: 0;
	}

	.single-task-form .form-control {
		display: grid;
		grid-template-columns: 10rem 1fr;
		justify-items: start;
		margin-bottom: 2rem;
		width: 100%;
		@media (max-width:1000px) {
		grid-template-columns: 6rem 1fr;
		}
	}

	.single-task-form label {
		margin-bottom: 0;
		font-size: 1rem;
	}

	.task-edit-completed {
		width: auto;
	}

	.close-task-edit {
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;


	}

	.task-edit-name {
		outline: none;
		border: 1px solid $VeryLightGray;
		background-color: $VeryDarkDesaturatedBlue;
		border-radius: 3px;
		color: $VeryLightGray;
		padding: 0.5rem;
		width: 100%;
		border-top-right-radius: 30rem;
		border-bottom-right-radius: 30rem;
	}

	.task-status {
		position: relative;

		&:hover .radio-check {
			border: 1px solid #C058F3;

			@media (max-width:1000px) {
				border: 1px solid $VeryLightGray;
			}
		}

		input {
			cursor: pointer;
			position: relative;
			z-index: 1;
			opacity: 0;
		}

		.radio-check {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -60%);
			height: 1.3rem;
			width: 1.3rem;
			border-radius: 30rem;
			border: 1px solid $VeryLightGray;

			&.checked {
				background: linear-gradient(#57DDFF, #C058F3);
				border: none;
			}

		}


		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -60%);
			height: 0.6rem;
			display: none;

			&.checked {
				display: block;
			}
		}
	}
}
.task-status {
	position: relative;

	input {
		position: relative;
		z-index: 1;
		opacity: 0;
	}

	.radio-check {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -60%);
		height: 1.3rem;
		width: 1.3rem;
		border-radius: 30rem;
		border: 1px solid $VeryDarkGrayishBlue;

		&.checked {
			background: linear-gradient(#57DDFF, #C058F3);
			border: none;
		}

		&.completed {
			background: linear-gradient(#57DDFF, #C058F3);
			border: none;
		}

	}

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -60%);
		height: 0.6rem;
		display: none;

		&.checked {
			display: block;
		}
	}
}